{"filter":false,"title":".env.example","tooltip":"/cms/.env.example","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":6,"state":"start","mode":"ace/mode/text"}},"hash":"4dccf7b620cb1bd15f5d109fd8c770602f7d883b","mime":"application/octet-stream","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1620766042000}